<html>
    <head>
        <title>Создать задачу</title>
    </head>
    <header>
        {% if user %}
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/my-note">Мои задачи</a></li>
            <li><a href="http://{{ host }}/archive">Архив</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
        {% endif %}
    </header>
    <body>
        <h1>Создать задачу</h1>
        <form action = "/add-note" method="post">
            <label>Тема: </label>
            <input type="text" name="title" size="30"><br>
            <label>Описание проблемы:</label><br>
            <textarea id="textNote" name="value"></textarea>
            <input type="submit" value="Отправить">
        </form>
        {% if error %}
            <h3>{{ error }}</h3>
        {% endif %}
        {% if success %}
            <h3>{{ success }}</h3>
        {% endif %}

    </body>
</html>